nav.navbar.navbar-default {
  margin-bottom: 0;
}

.bg-image-custom {
  background-image: url("https://media.wired.com/photos/5ea9f8cb2c6f04000a11a42f/4:3/w_2132,h_1599,c_limit/Biz-cubicles-147075927.jpg");
  background-size: cover;
  height: 350px;
}

.mask-custom {
  background-color: rgba(0, 0, 0, 0.6);
  height: 350px;
}

.table-header-row {
  background: #ffffff !important;
  border-top: 1px solid #cccccc;
}

.sorter {
  cursor: pointer;
  color: #007bff;
}

.sorter:hover {
  color: #0056b3;
  text-decoration: underline;
}

tr:nth-of-type(odd) {
  background: #f2f2f2;
}

tr:nth-of-type(even) {
  background: #cccccc;
}

td {
  padding: 10px 0px;
}

.emp-image {
  padding-left: 10px;
}

@media only screen and (max-width: 768px) {
  .mask-custom {
    height: 200px;
  }

  .bg-image-custom {
    background-image: url("https://media.wired.com/photos/5ea9f8cb2c6f04000a11a42f/4:3/w_2132,h_1599,c_limit/Biz-cubicles-147075927.jpg");
    background-size: cover;
    height: 200px;
  }
}

.sticky-th {
  position: sticky;
  top: 0;
  background: #ffffff;
}
